---
BasedOnStyle: LLVM
AlignTrailingComments: 'false'
AllowShortFunctionsOnASingleLine: Empty
BinPackArguments: 'false'
BinPackParameters: 'false'
BreakConstructorInitializers: BeforeComma
ColumnLimit: '120'
IncludeBlocks: Regroup
IndentWidth: 2
Language: Cpp
PointerAlignment: Left


...
