---
BasedOnStyle: LLVM
AlignConsecutiveAssignments:
  PadOperators: false
AlignConsecutiveDeclarations:
  AlignFunctionDeclarations: false
AlignTrailingComments:
  Kind: Never
AllowShortFunctionsOnASingleLine: Empty
BinPackArguments: false
BinPackParameters: false
BreakConstructorInitializers: BeforeComma
BreakTemplateDeclarations: Yes
ColumnLimit: 120
EnumTrailingComma: Insert
IncludeBlocks: Regroup
InsertNewlineAtEOF: true
LineEnding: LF
PackConstructorInitializers: Never
PointerAlignment: Left
WrapNamespaceBodyWithEmptyLines: Always
