name: Build and Run Unit Tests

on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Setup compiler
        uses: aminya/setup-cpp@v1
        with:
          compiler: gcc

      - name: Download and cache meson and its dependencies
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: python3 python3-pip python3-setuptools python3-wheel meson ninja-build
          version: 1.0

      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Build using Meson
        run: |
          meson setup --buildtype=release bin/Release
          cd bin/Release
          meson compile --verbose

      - name: Package files that have been built
        run: bash createPackage.sh

      - name: List all the files that will be archived
        run: ls -R out

      - name: Archive package
        uses: actions/upload-artifact@v4
        with:
          name: library-and-executables
          path: out

  run-unit-tests:
    name: Run Unit Tests
    needs: build
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Download lib and executables
        uses: actions/download-artifact@v4
        with:
          name: library-and-executables

      - name: Run unit tests
        run: |
          mkdir reports
          cd *ku-*
          chmod +x ku_unit_test
          ./ku_unit_test --success=true --reporters=junit --out=../reports/ku_unit_test_report.xml

      - name: Archive unit test results
        uses: actions/upload-artifact@v4
        with:
          name: test-reports
          path: reports/*.xml

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          files: reports/*_report.xml
