name: Build and Run Unit Tests

on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Setup compiler
        uses: aminya/setup-cpp@v1.7.2
        with:
          compiler: gcc

      - name: Download and cache meson and its dependencies
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: python3 python3-pip python3-setuptools python3-wheel meson ninja-build
          version: 1.0

      - name: Setup Graphviz
        uses: ts-graphviz/setup-graphviz@v2

      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Build using Meson
        run: |
          meson setup --buildtype=release bin/Release
          meson compile -C bin/Release --verbose

      - name: Package files that have been built
        run: python3 scripts/CreatePackage.py

      - name: List all the files that will be archived
        run: ls -R out

      - name: Archive test artifacts
        uses: actions/upload-artifact@v4
        with:
          name: test-artifacts
          path: out/tests

      - name: Archive dependency graph
        uses: actions/upload-artifact@v4
        with:
          name: dependency-graph
          path: out/dependency-graph

  run-unit-tests:
    name: Run Unit Tests
    needs: build
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Download test artifacts
        uses: actions/download-artifact@v4
        with:
          name: test-artifacts

      - name: Enable executable permissions on the just-downloaded tests
        run: chmod +x ku-*/*

      - name: Run unit tests
        run: python3 scripts/RunUnitTests.py

      - name: Archive unit test results
        uses: actions/upload-artifact@v4
        with:
          name: test-reports
          path: reports/*_report.xml

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          files: reports/*_report.xml
